
@font-face {
	font-display: swap;
	font-family: Poppins;
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/poppins-v19-latin-ext-regular.eot);
	src: local(""), url(/fonts/poppins-v19-latin-ext-regular.eot) format("embedded-opentype"), url(/fonts/poppins-v19-latin-ext-regular.woff2) format("woff2"), url(/fonts/poppins-v19-latin-ext-regular.woff) format("woff"), url(/fonts/poppins-v19-latin-ext-regular.ttf) format("truetype"), url(/fonts/poppins-v19-latin-ext-regular.svg) format("svg")
}

@font-face {
	font-display: swap;
	font-family: Poppins;
	font-style: normal;
	font-weight: 700;
	src: url(/fonts/poppins-v19-latin-ext-700.eot);
	src: local(""), url(/fonts/poppins-v19-latin-ext-700.eot) format("embedded-opentype"), url(/fonts/poppins-v19-latin-ext-700.woff2) format("woff2"), url(/fonts/poppins-v19-latin-ext-700.woff) format("woff"), url(/fonts/poppins-v19-latin-ext-700.ttf) format("truetype"), url(/fonts/poppins-v19-latin-ext-700.svg) format("svg")
}

@font-face {
	font-display: swap;
	font-family: Poppins;
	font-style: normal;
	font-weight: 800;
	src: url(/fonts/poppins-v19-latin-ext-800.eot);
	src: local(""), url(/fonts/poppins-v19-latin-ext-800.eot) format("embedded-opentype"), url(/fonts/poppins-v19-latin-ext-800.woff2) format("woff2"), url(/fonts/poppins-v19-latin-ext-800.woff) format("woff"), url(/fonts/poppins-v19-latin-ext-800.ttf) format("truetype"), url(/fonts/poppins-v19-latin-ext-800.svg) format("svg")
}

@font-face {
	font-display: swap;
	font-family: Poppins;
	font-style: normal;
	font-weight: 900;
	src: url(/fonts/poppins-v19-latin-ext-900.eot);
	src: local(""), url(/fonts/poppins-v19-latin-ext-900.eot) format("embedded-opentype"), url(/fonts/poppins-v19-latin-ext-900.woff2) format("woff2"), url(/fonts/poppins-v19-latin-ext-900.woff) format("woff"), url(/fonts/poppins-v19-latin-ext-900.ttf) format("truetype"), url(/fonts/poppins-v19-latin-ext-900.svg);
}
